{{define "body"}}
    <h1>Edit User {{.Id}}</h1>

    <form accept-charset="UTF-8" action="/users/{{.Id}}" method="post">
    	<div style="display:none">
    		<input name="_method" type="hidden" value="PATCH">
    	</div>

    	<div class="field">
			<label for="first_name">First Name</label><br>
		    <input id="first_name" name="user[first_name]" type="text" value="{{.FirstName}}">
		</div>

		<div class="field">
			<label for="last_name">Last Name</label><br>
		    <input id="last_name" name="user[last_name]" type="text" value="{{.LastName}}">
		</div>

		<div class="actions">
		    <input class="button small" name="commit" type="submit" value="Update User">
		</div>

    </form>

    <br/>
    <a href="/users/{{.Id}}/">Show<a>
    <a href="/users">Back<a>
{{end}}

{{ define "head"}}
    <title>Edit User {{.Id}}</title>
{{ end }}
